<div class="section-title">
  <div class="d-flex align-items-center justify-content-between">
    <p><%= @classroom_subject.classroom.name %></p>
    <% if current_user.teacher? && @classroom_subject.teacher == current_user %>
      <%= link_to 'New Assignment', new_classroom_subject_assignment_path, class: 'btn btn-primary' %>
    <% end %>
  </div>
  <h2><%= @classroom_subject.name %> Assignments</h2>
</div>
<div class="courses">
  <div class="row">
    <%= render @assignments %>
  </div>
</div>
