<div class="member" style="width: 100%">
  <div style='width: 100%;' class="member-img">
    <%= image_tag "home/teachers/#{@image}", class: 'img-fluid', style: 'height: 180px; width: 100%; object-fit: cover;' %>
    <div class="social">
      <a href=""><i class="bi bi-twitter"></i></a>
      <a href=""><i class="bi bi-facebook"></i></a>
      <a href=""><i class="bi bi-instagram"></i></a>
      <a href=""><i class="bi bi-linkedin"></i></a>
    </div>
  </div>
  <div class="member-info">
    <h4><%= @name %></h4>
    <span><%= @position %></span>
  </div>
</div>
