<% cache contact_message do %>
  <div class="card my-2 shadow-sm">
    <% unless contact_message.subject.blank? %>
      <div class="card-header">
        <%= link_to contact_message.subject, contact_message, class: 'fw-bold' %>
      </div>
    <% end %>
    <div class="card-body py-2">
      <%= link_to truncate(contact_message.message, length: 250), contact_message %>
    </div>
    <div class="card-footer py-1">
      <div class="d-flex align-items-center justify-content-between">
        <small>By <%= contact_message.name %></small>
        <small class='text-muted'>
          <%= time_ago_in_words contact_message.created_at %> ago
        </small>
      </div>
    </div>
  </div>
<% end %>
