<div class="pagetitle">
  <h1>Edit <%= @topic.title %></h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to @topic.classroom_subject.classroom.name, @topic.classroom_subject %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to @topic.classroom_subject.name, @topic.classroom_subject %>
      </li>
    </ol>
  </nav>
</div>
<div class="card">
  <div class="card-body">
    <h3 class="card-title">Edit Topic</h3>
    <%= render 'form', topic: @topic %>
  </div>
</div>
