<div class="section-title mt-3">
  <p>
    <i class="bi bi-<%= @notification.icon %> text-<%= @notification.tag %>"></i>
    <%= @notification.title %>
  </p>
  <h2>Edit Notice</h2>
</div>
<div class="card">
  <div class="card-body">
    <h3 class="card-title fw-bold">Fill the form below to update this notice</h3>
    <%= render 'form', notification: @notification %>
  </div>
</div>
