<div class="section-title">
  <div class="d-flex align-items-center justify-content-between">
    <p>Notifications</p>
    <% if current_user.admin? %>
      <%= link_to 'New Notification', new_notification_path, class: 'btn btn-outline-primary btn-sm' %>
    <% end %>
  </div>
  <h2>All</h2>
</div>
<div class="row">
  <% cache @notifications do %>
    <%= render @notifications %>
  <% end %>
  <%= will_paginate @notifications %>
</div>
