<div class="section-title mt-3">
  <p>Notices</p>
  <h2>New Notice</h2>
</div>
<div class="card">
  <div class="card-body">
    <h3 class="card-title fw-bold">Fill the form below to create a notice</h3>
    <%= render 'form', notification: @notification %>
  </div>
</div>
