<div class="section-title">
  <p>Users</p>
  <h2>New User</h2>
</div>
<div class="card">
  <div class="card-body">
    <h3 class="card-title">Fill the form below to create a new user</h3>
    <%= render 'users/form', user: @user %>
  </div>
</div>
