<!-- ======= About Video Section ======= -->
<section id="about-video" class="about-video">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
        <%= image_tag 'home/classroom.jpg', class: 'img-fluid' %>
      </div>
      <div class="col-lg-6 pt-3 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
        <h3>
          Our School Environment & Culture
        </h3>
        <p class="fst-italic">
          We have the following facilities and buildings at our school
        </p>
        <ul>
          <li><i class="bx bx-check-double"></i>
            Fully Equiped Computer lab
          </li>
          <li><i class="bx bx-check-double"></i>
            Modern Multipurpose Sports Facility
          </li>
          <li><i class="bx bx-check-double"></i>
            Garden for Agricultural Projects 
          </li>
          <li><i class="bx bx-check-double"></i>
            Fully Furnished Classroom Blocks
          </li>
        </ul>
        <p>
          We aim to provide the best education for all learners through the use of modern pedagogies with the aid of ICTs for the benefit of learners themselves and the nation at large.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End About Video Section -->
