<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>About Us</h2>
      <p>Welcome to Impali Primary School</p>
    </div>
    <div class="row content">
      <div class="col-lg-6">
        <p class='justified'>
          Impali Primary School was established in 2016 and officially opened its doors for operation in 2017. 
          Initially the school started with an enrollment of 211 learners
          but has risen to a current enrollment of 755 learners.
          Our mandate is to offer high quality, inclusive and relevant Primary and
          continuing education, sports, arts and culture mainly to children of
          Unki Mines employees and the local community
        </p>
        <h6 class="fw-bold">Values</h6>
        <div class="row">
          <div class="col">
            <ul>
              <li><i class="ri-check-double-line"></i>Commitment</li>
              <li><i class="ri-check-double-line"></i>Integrity</li>
              <li><i class="ri-check-double-line"></i>Empathy</li>
            </ul>
          </div>
          <div class="col">
            <ul>
              <li><i class="ri-check-double-line"></i>Teamwork</li>
              <li><i class="ri-check-double-line"></i>Transparency</li>
              <li><i class="ri-check-double-line"></i>Etiquecy</li>
            </ul>
            <!--            <a href="#contact" class="btn-learn-more scrollto">Contact Us</a>-->
          </div>
        </div>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <p class='justified'>
          Although its responsible authority is UNKI Mine, the school operates as a government aided primary school. We offer quality education through a team of highly qualified teachers and application of learner based methodologies.
        </p>
        <p class='justified'>
          <h6 class="fw-bold">Vision</h6>
          Our vision is of an educated, patriotic, balanced, competitive, self-reliant Zimbabwean with Unhu/Ubuntu.
        </p>
        <p class='justified'>
          <h6 class="fw-bold">Mission</h6>
          Our mission is to promote and facilitate the provision of a high quality inclusive and relevant Early Childhood Development (ECD), Primary, Secondary, Lifelong and continuing education, sports, arts and culture.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->
