<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>About Us</h2>
      <p>Welcome to Impali Primary School, here is our brief information, purpose and vision</p>
    </div>
    <div class="row content">
      <div class="col-lg-6">
        <p class='justified'>
          Impali Primary School was established in 2016 and officially opened its doors for operation in 2017. Initially the school started with an enrolment of 358 students but has risen to a current enrollment of 637 students. Our mandate is to offer educational services mainly to children of the UNKI Mine employees, the local farming and urban communities surrounding Shurugwi town, however our doors are open to everyone.
        </p>
        <ul>
          <li><i class="ri-check-double-line"></i>Commitment</li>
          <li><i class="ri-check-double-line"></i>Integrity</li>
          <li><i class="ri-check-double-line"></i>Empathy</li>
          <li><i class="ri-check-double-line"></i>Teamwork</li>
          <li><i class="ri-check-double-line"></i>Transparency</li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <p class='justified'>
          Although its responsible authority is UNKIE Mine, the school operates as a government aided primary school. We offer quality education through a team of highly qualified teachers and application of learner based methodologies.
        </p>
        <p class='justified'>
          Our vision is of a united, well educated, patriotic, balanced, competitive, self-reliant Zimbabwean with unhu/Ubuntu.
        </p>
        <p class='justified'>
          Our mission is to promote and facilitate the provision of a high quality inclusive and relevant Early Childhood Development (ECD), Primary, Secondary, Lifelong and continuing education, sports, arts and culture.
        </p>
        <a href="#contact" class="btn-learn-more scrollto">Contact Us</a>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->
