      <!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Contact</h2>
      <p>Feel free to contact and reach out to us using the information given below. We would love to help you know more about us and our school</p>
    </div>
    <div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6536.385208006376!2d29.93969143649293!3d-19.65109717525328!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1934bba288eee727%3A0x4b814ce0c0082d46!2sImpali%20Primary%20School!5e1!3m2!1sen!2szw!4v1652067768519!5m2!1sen!2szw" width="100%" height="270px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="row mt-5">
      <div class="col-lg-4">
        <div class="info">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Location:</h4>
            <p>Helvetia Road, Impali Source, Shurugwi</p>
          </div>
          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p>info@impaliprimary.ac.zw</p>
          </div>
          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Call:</h4>
            <p>+263 54 252 6041</p>
            <p>+263 54 267 0331</p>
          </div>
        </div>
      </div>
      <div class="col-lg-8 mt-5 mt-lg-0">
        <div id="contact-form">
          <%= render 'contact_messages/form' %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Section -->
