      <!-- ======= Counts Section ======= -->
<section id="counts" class="counts section-bg">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col d-md-flex align-items-md-stretch">
        <div class="count-box">
          <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="1" class="purecounter"></span>
          <p>2018 Passrate</p>
        </div>
      </div>
      <div class="col d-md-flex align-items-md-stretch">
        <div class="count-box">
          <span data-purecounter-start="0" data-purecounter-end="98" data-purecounter-duration="1.5" class="purecounter"></span>
          <p>2019 Passrate</p>
        </div>
      </div>
      <div class="col d-md-flex align-items-md-stretch">
        <div class="count-box">
          <span data-purecounter-start="0" data-purecounter-end="94" data-purecounter-duration="2" class="purecounter"></span>
          <p>2020 Passrate</p>
        </div>
      </div>
      <div class="col d-md-flex align-items-md-stretch">
        <div class="count-box">
          <span data-purecounter-start="94" data-purecounter-end="98" data-purecounter-duration="2.5" class="purecounter"></span>
          <p>2021 Passrate</p>
        </div>
      </div>
      <div class="col d-md-flex align-items-md-stretch">
        <div class="count-box">
          <span data-purecounter-start="94" data-purecounter-end="98.4" data-purecounter-duration="3" class="purecounter"></span>
          <p>2022 Passrate</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Counts Section -->
