      <!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Frequently Asked Questions</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div>
    <div class="faq-list">
      <ul>
        <li data-aos="fade-up">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">
            What classes or programs does the school offer that help it stand out from other schools in the area?
            <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
            <p>
              We have a top notch curriculum which consists of an Academic and Extra-Curricular Programme. We offer computer lessons, music, visual performing arts, guidance and counselling etc. to all levels.
            </p>
          </div>
        </li>
        <li data-aos="fade-up" data-aos-delay="100">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">
            What is the school’s educational philosophy?
            <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
            <p>
              We embrace hands-on, exploratory learning and take a collaborative approach, where students are encouraged to work in teams to solve problems. We try our best to keep up with cutting-edge technology as a part of the educational process.
            </p>
          </div>
        </li>
        <li data-aos="fade-up" data-aos-delay="200">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">
            What extracurricular activities are available to students?
            <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
            <p>
              We provide various sporting activities, music, visual performing arts and craft.
            </p>
          </div>
        </li>
        <li data-aos="fade-up" data-aos-delay="300">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">
            What are your requirements when recruiting students?
            <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
            <p>
              We require the student’s birth certificate, reports from previous schools for transfer students and parent’s identification document.
            </p>
          </div>
        </li>
        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-6" class="collapsed">
            What are the school’s safety policies?
            <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list">
            <p>
              All staff, students and visitors are required to wear masks at all times. Sanitization and temperature checking is compulsory at all entry points. Classrooms are well ventilated and there is strict social distance in the classrooms.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- End Frequently Asked Questions Section -->
