<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Learning Areas</h2>
      <p>We offer the following learning areas</p>
    </div>
    <div class="row">
      <% @subjects.each_with_index do |subject, i| %>
        <div class="col-lg-3 col-md-4 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="<%= i * 80 %>">
          <%= render_learning_area subject[:name], subject[:icon] %>
        </div>
      <% end %>
      <div class="col-lg-4 col-md-4 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box iconbox-teal pb-1 pt-2">
          <h4><a href="">Information Technology</a></h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box pb-1 pt-2">
          <h4><a href="">Guidance and Counseling</a></h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
        <div class="w-100">
          <%= link_to "More", learning_areas_path, class: 'btn btn-lg rounded-0 py-3 fw-bold btn-outline-primary w-100' %>
        </div>
      </div>
    </div>
  </div>
</section>
