<!-- ======= Team Section ======= -->
<section id="team" class="team">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Our Staff</h2>
      <p>Meet our school staff. Our staff is dedicated to inspiring and empowering students to learn</p>
    </div>
    <div class="row team-container">
      <% @staff.each.with_index do |staff_member, index| %>
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="<%= [(index+1) * 100, 500].max %>">
          <%= staff_member(image: staff_member[:image], name: staff_member[:name], position: staff_member[:position] ) %>
        </div>
      <% end %>
    </div>
  </div>
</section>
<!-- End Team Section -->
