<section id="team" class="team">
  <div class="container">
    <h1 class="fw-light bg-light rounded py-3 mb-4 mt-2 px-3 border">Our Staff</h1>
    <div class="row">
      <% @staff.each.with_index do |staff_member, index| %>
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <%= staff_member(image: staff_member[:image], name: staff_member[:name], position: staff_member[:position]) %>
        </div>
      <% end %>
    </div>
  </div>
</section>

