<div class="section-title">
  <div class="d-flex align-items-center justify-content-between">
    <p><%= @user.full_name %></p>
  </div>
  <h2>Reports & Marks</h2>
</div>
<%= render 'results/dashboard' %>
