<div class="section-title">
  <p><%= @student.full_name %></p>
  <h2><%= @student.classroom.name %></h2>
</div>
<div class="card">
  <div class="card-body">
    <h3 class="card-title">Fill the form below to add new payment</h3>
    <%= render 'form', payment: @payment %>
  </div>
</div>
<%= link_to 'Back', payments_path %>
