<div class="section-title">
  <p>School Payments</p>
  <h2>Edit</h2>
</div>
<div class="card">
  <div class="card-body">
    <h3 class="card-title">Edit Payment Amounts</h3>
    <%= render 'form', school_payment: @school_payment %>
  </div>
</div>
