<div class="row">
  <div class="col-md-6">
    <%= form.select :year, Payment.years %>
  </div>
  <div class="col-md-6">
    <%= form.select :term, SchoolPayment.terms.keys %>
  </div>
</div>
<% unless controller_name == 'student_payments' %>
  <%= form.file_field :deposit_slip, label: 'Bank Deposit Slip', required: true %>
<% end %>
<%= form.text_field :amount, prepend: "$", required: true %>
