<div class="modal fade" id="paymentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <%= bootstrap_form_with(model: Payment.new, html: {class: 'modal-content'}) do |form| %>
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">New Payment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id='payment-form-fields' class="modal-body">
        <%= render 'payments/form_fields', form: form %>
      </div>
      <div class="modal-footer d-flex justify-content-between align-items-center">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <%= form.primary 'Submit' %>
      </div>
    <% end %>
  </div>
</div>
