<div class="section-title">
  <p><%= @parent.student.full_name %></p>
  <h2>Editting Parent</h2>
</div>
<div class="card">
  <div class="card-body">
    <h3 class="card-title">Edit Parent</h3>
    <%= render 'form', parent: @parent %>
  </div>
</div>
