<div class="section-title">
  <p><%= @parent.user.full_name %></p>
  <h2>Add Parent</h2>
</div>
<div class="card">
  <div class="card-body">
    <h3 class="card-title">Fill in Parent details</h3>
    <%= render 'form', parent: @parent %>
  </div>
</div>
